body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(112deg, #10193C -0.61%, #412583e0 99.39%);
}
.cabecalho{
    width: 100vw;
    height: 120px;
}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    max-width: 88%;
    color: white;
}
.imagem{
    width: 87px;
    height: 85px;
    border-radius: 50px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.438);
}
.login{
    width: 87px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centralizar-coluna{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.centralizar-linha{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row
}
.botao{
    cursor: pointer;
    width: 200px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid #000;
    border-color: #A842FF;
    color: #fff;
    box-shadow: 0 0 40px 40px #a742ff inset, 0 0 0 0 #A842FF;
    transition: all 150ms ease-in-out;
    color: #EFF1F0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.botao:hover{
    box-shadow: 0 0 10px 0 #A842FF inset, 0 0 10px 4px #A842FF;
    color: #000;
}
.ipt{
    width: 272px;
    height: 29px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #D9D9D9;
}
.tag{
    width: 321px;
    height: 492px;
    border-radius: 50px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.38);
    backdrop-filter: blur(2px);
    justify-content: space-around;
}
.decoration{
    text-decoration: none;
    color: #fff;
}
.decoration:hover{
    color: #000;
}
.text-normal{
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: large;
    color: white;
    text-align: center;
}